.logoToronto{
	width:100px;
	height:100px;
}
.logoMenu{
	width:50px;
	height:50px;
}
.imagenPlantilla{
	margin-right:630px;
}
td,th{
	border-bottom: 1px solid gray;
	
}
.cabecera{
  background-color: #48555F;
  color:white;
}
table{
	background-color: red;
	color: white;
}

.menuUl {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}
.menuUl2 {
    list-style-type: square;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    float:right;
}

.menuLi {
    float: left;
}

.menuLi2 {
    float: right;
}

 .menuLi a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.menuLi a:hover {
   background-color:blue;
}

.menuLi2 a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.menuLi2 a:hover {
   background-color:blue;
}

.login{
    text-align: center;
    
}

.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
	text-decoration:none;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.a2{
	text-decoration:none;
	color:white;
	margin-bottom:20px;
}